@import 'base';

.component {
  margin: 0 0 1em;

  > label {
    display: block;
    margin: 0 0 .4rem 0;
    color: rgba(0, 0, 0, .9);
    font-size: .9em;
    font-weight: 700;
    text-transform: none;
  }
}
