@import 'base';

.component {
  border: 1px solid rgba(0, 0, 0, .2);
  font-size: 1rem;
  padding: .8em;
  border-radius: 2px;
  display: block;
  width: 100%;
  outline: 0;

  @include placeholder () {
    color: rgba(0, 0, 0, .3);
  }
}

.error {
  background-color: #fff6f6;
  border: 1px solid #e0b4b4;
}
