@import 'base';

.component {
  display: inline-block;
  border: 0;
  outline: 0;
  font: inherit;
  -webkit-appearance: none;
  padding: .8em 1em;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 500;
  background: #e0e1e2 none;
  line-height: 1em;
  font-size: 1rem;
  color: rgba(0, 0, 0, .6);
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: #cacbcd;
    background-image: none;
    color: rgba(0, 0, 0, .8);
  }
}

.primary {
  background-color: $color-primary;
  color: $color-white;
  text-shadow: none;

  &:hover {
    background-color: darken($color-primary, 5%);
    color: $color-white;
  }
}

.content {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
