// colors
$color-white: #fff;
$color-black: #000;
$color-green: #2dbda8;
$color-blue: #5fb0e0;
$color-primary: $color-green;
$color-red: #e0b4b4;

// components
$header-height: 44px;
$view-max-width: 960px;
