@import 'base';

.component {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #353535;
  color: $color-white;
}

.content {
  display: flex;
  align-items: center;
  padding: 0 1em;
  box-sizing: border-box;
  max-width: 880px;
  margin: 0 auto;
  height: 44px;
}

.controls {
  margin-left: auto;
}

.menuIcon {
  width: 16px;
  height: 16px;
}
