@import 'base';

.component {
  margin: 1em 0;
  background: #f8f8f9;
  padding: .8em;
  color: rgba(0, 0, 0, .8);
  border-radius: 2px;
  border: 1px solid rgba(34, 36, 38, .22);
  font-size: .8rem;
}

.error {
  background-color: #fff6f6;
  color: #9f3a38;
  border: 1px solid #e0b4b4;
}
